body {
    font-family: sans-serif;
    background: var(--background-color);
}

main {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    height: 70px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    border-bottom: 15px solid var(--grass);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    border-radius: 15px;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 100px;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds 15s infinite linear;
    top: 40px;
}

.clouds2 {
    position: absolute;
    width: 550px;
    animation: clouds2 8s linear;
    top: 40px;
}

.game-over {
    display: none;
    position: absolute;
    width: 600px;
    margin-top: -150px;
}

.restart {
    display: none;
    position: relative;
    width: 250px;
    height: 50px;
    margin-top: 120px;

}

.dead {
    display: none;
}

.button {
    display: none;
}