body {
    font-family: sans-serif;
    background: var(--background-color);
}

main {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .title {
    color: var(--header-font);
    text-transform: uppercase;
    font-size: 60px;
    line-height: 100px;
    -webkit-text-stroke: 1.5px var(--header-font-detail);
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    border-bottom: 15px solid var(--grass);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 100px;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds 15s infinite linear;
    top: 40px;
}

.clouds2 {
    position: absolute;
    width: 550px;
    animation: clouds2 8s linear;
    top: 40px;
}

.game-over {
    display: none;
    position: absolute;
    width: 600px;
    margin-top: -150px;
}

.button {
    display: none;
    position: relative;
    width: 250px;
    height: 50px;
    margin-top: 120px;

}

.dead {
    display: none;
}

.jump {animation: mario 500ms ease-out;}

.dead-anim{animation: dead-anim 500ms ease-out;}

@keyframes pipe {
    from {right: -80px;}
    to {right: 100%;}
}

@keyframes mario {
    0% {bottom: 0px;}
    40% {bottom: 180px;}
    50% {bottom: 180px;}
    60% {bottom: 180px;}
    100% {bottom: 0px;}
}

@keyframes clouds {
    from {right: -550px;}
    to {right: 100%;}
}

@keyframes clouds2 {
    from {right: 300px;}
    to {right: 100%;}
}

@keyframes dead-anim {
    0% {bottom: 0px;}
    50% {bottom: 180px;}
    100% {bottom: -150px;}
}